body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #d6efed;
  max-width: 50rem;
  padding: 2rem 0;
  margin: 0 auto;
}
.main-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

img {
  width: 30%;
  height: 35%;
  border: 4px dashed #898aa6;
  border-radius: 50%;
}
p.name {
  font-size: 30pt;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
p.hobby {
  margin: 5px;
  padding: 0 0 0 15px;
  font-size: 16pt;
}
.summary,
.skills {
  margin: 5px auto;
  font-size: 16pt;
  font-style: normal;
  padding: 0 0 0 5px;
  color: #212131;
}
.skills {
}
ul.art-exp,
.tech-exp,
.eng-exp,
.seo-exp {
  margin: 0;
  padding: 0;
}
h3 {
}
.art-exp-h3,
.exp-nobullet {
  list-style: none;
  margin: 5px 0 5px 10px;
  font-weight: 600;
}
.experiens {
  margin: 5px auto;
  font-size: 16pt;
  font-style: normal;
  padding: 0 0 0 5px;
  color: #212131;
}
.art-exp-item,
.tech-exp-item,
.eng-exp-item,
.seo-exp-item {
  margin: 5px 0 5px 30px;
}
.no-bold {
  font-weight: 400;
  color: #212131;
}
hr {
  color: #595a76;
  border-top: 2px dashed #898aa6;
}
.exp-nobullet {
  color: #383852;
}
.contact-info {
  font-size: 16pt;
  padding: 10px auto;
  margin: 10px;
}
